.myphoto{
    width: 450px;
    height: 450px;
    border-radius: 500px;
    border: 2px solid violet;
    overflow: hidden;
    text-align: center;
    margin: 50px auto;
}
.myphoto img{
    width: 450px;
    height: auto;
    margin-top: -330px;
}
head{
    text-align: center;
}
body{
    display: block;
    color: white;    
    background-image: url("https://media1.giphy.com/media/s0go9ywxjJg4w/giphy.gif?cid=ecf05e471985aff7ubtmvl317kq3h1nvhmjkv93xx4are7qz&ep=v1_gifs_related&rid=giphy.gif&ct=g"); 
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}
button{
    border-radius: 0;
    padding: 10px;
}
input{
    padding: 10px;
    width: 300px;
}
.sp{
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
}